<h1>Prijava</h1>
<form action="login" method="post">
    <input type="text" name="username" placeholder="Uporabniško ime" required>
    <input type="password" name="password" placeholder="Geslo" required>
    <button type="submit" class="submit-btn">Prijava</button>
    <a href="register" class="gumb">Registracija</a>
</form>