<h1>Registracija</h1>
<form action="/users" method="post">
    <input type="text" name="email" placeholder="E-mail" required="">
    <input type="text" name="username" placeholder="Uporabniško ime" required="">
    <input type="password" name="password" placeholder="Geslo" required="">
    <button type="submit" class="submit-btn">Registracija</button>
    <a href="login" class="gumb">Prijava</a>
</form>